.createEventPage {
    background-image: url("/images/battleplan.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .eventRight {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__top {
            width: 100%;
            background-color: rgb(40, 54, 56, 0.8);
            height: 10%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-family: 'Rajdhani', sans-serif;

            input {
                height: 30%;
                background-color: transparent;
                border: none;
                border-bottom: 2px #E8B372 solid;
                font-family: 'Rajdhani', sans-serif;
                color: #E8B372;
                font-size: 17px;

                ::-webkit-input-placeholder {
                    color: E8B372;
                    font-size: 17px;
                    font-family: 'Rajdhani', sans-serif;
                }

                &::placeholder {
                    color: #E8B372;
                    font-size: 17px;
                    font-family: 'Rajdhani', sans-serif;
                }
            }
        }

        &__middle {
            height: 80%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-around;

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;
                justify-content: center;
                width: 60%;
            }

            .swiperElement {
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                h3 {
                    margin: 5px;
                    color: #E8B372;
                }
            

            .swiper-3d,
            .swiper-3d.swiper-css-mode .swiper-wrapper {
                width: 100%;
                border: 1px solid #E8B372;
            }

            .swiper-pagination-bullet {
                background: white;
                opacity: 1 !important;
            }

            .swiper-pagination-bullet-active {
                opacity: 1 !important;
                background: #E8B372 !important;
            }
        }



    }

    &__bot {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        p{
            width: 20%;
            color: #E8B372;
            text-align: center;

        }
    }

}

.eventLeft {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(40, 54, 56, 0.8);
    justify-content: space-around;

    fieldset {
        width: 80%;
        color: #E8B372;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px;
        font-family: 'Rajdhani', sans-serif;
        font-size: 15px;

        input {
            background-color: transparent;
            border: none;
            border-bottom: 2px #E8B372 solid;
            font-family: 'Rajdhani', sans-serif;
            color: #E8B372;
            font-size: 17px;

            ::-webkit-input-placeholder {
                color: #E8B372;
                font-size: 17px;
                font-family: 'Rajdhani', sans-serif;
            }

            &::placeholder {
                color: #E8B372;
                font-size: 17px;
                font-family: 'Rajdhani', sans-serif;
            }
        }
    }
}
}



#send {
    width: 20%;
    height: 45%;
    background-color: #E8B372;
    color: rgb(40, 54, 56);
    border-radius: 10px;
    font-family: 'Rajdhani', sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

#back {
    width: 20%;
    height: 45%;
    background-color: rgb(40, 54, 56);
    color: #E8B372;
    border-radius: 10px;
    font-family: 'Rajdhani', sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}
#delete {
    width: 20%;
    height: 45%;
    background-color: rgb(155, 37, 28);
    color: #E8B372;
    border-radius: 10px;
    font-family: 'Rajdhani', sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

.ck.ck-editor__main>.ck-editor__editable {
    background: rgb(40, 54, 56, 0.6) !important;
    border-radius: 0;
    font-family: 'Rajdhani', sans-serif;
    color: white;
    max-height: 500px;
    min-height: 500px;
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    border-color: #E8B372 !important;
    min-height: 500px;
    max-width: 100%;
}

.ck-reset_all :not(.ck-reset_all-excluded *),
.ck.ck-reset,
.ck.ck-reset_all {
    background: rgb(40, 54, 56, 0.6) !important;
}

.ck-reset_all :not(.ck-reset_all-excluded *),
.ck.ck-reset_all {
    color: #E8B372 !important;
}

.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
.ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
    border: 1px solid #E8B372 !important;
    border-bottom: none !important;
}

.ck.ck-editor {
    max-width: 70%;
    min-width: 70%;
}