@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap");
@font-face {
  font-family: "goodTime";
  src: url("./font/good times rg.otf");
}
/***************************color************************/
.App {
  height: 100vh;
}

body {
  margin: 0px;
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
}

.hangarPage {
  background-image: url("/images/hangar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.membrePage {
  background-image: url("/images/membre.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.profilPage {
  background-image: url("/images/profil.png");
  background-repeat: no-repeat;
  background-position-y: -50%;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.linkPage {
  background-image: url("/images/lienUtile.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.adminPage {
  background-image: url("/images/fond-ecran-noir.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 100%;
  width: 100%;
}

.adminWebsitePage {
  background-image: url("/images/fond-ecran-noir.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 100%;
  width: 100%;
}

.pageNotFound {
  background-image: url("/images/errorPage.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.pageNotFound a {
  color: black;
}
.pageNotFound .glitch-wrapper {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(33, 33, 33, 0);
}
.pageNotFound .glitch {
  position: relative;
  font-size: 120px;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  letter-spacing: 8px;
  z-index: 1;
}
.pageNotFound .glitch:before {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  color: #000000;
  background-color: rgba(33, 33, 33, 0);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-before 3s infinite linear alternate-reverse;
}
.pageNotFound .glitch:after {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 2px;
  width: 100%;
  color: #000000;
  background-color: rgba(33, 33, 33, 0);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-after 2s infinite linear alternate-reverse;
}
@keyframes noise-before {
  0% {
    clip: rect(61px, 9999px, 52px, 0);
  }
  5% {
    clip: rect(33px, 9999px, 144px, 0);
  }
  10% {
    clip: rect(121px, 9999px, 115px, 0);
  }
  15% {
    clip: rect(144px, 9999px, 162px, 0);
  }
  20% {
    clip: rect(62px, 9999px, 180px, 0);
  }
  25% {
    clip: rect(34px, 9999px, 42px, 0);
  }
  30% {
    clip: rect(147px, 9999px, 179px, 0);
  }
  35% {
    clip: rect(99px, 9999px, 63px, 0);
  }
  40% {
    clip: rect(188px, 9999px, 122px, 0);
  }
  45% {
    clip: rect(154px, 9999px, 14px, 0);
  }
  50% {
    clip: rect(63px, 9999px, 37px, 0);
  }
  55% {
    clip: rect(161px, 9999px, 147px, 0);
  }
  60% {
    clip: rect(109px, 9999px, 175px, 0);
  }
  65% {
    clip: rect(157px, 9999px, 88px, 0);
  }
  70% {
    clip: rect(173px, 9999px, 131px, 0);
  }
  75% {
    clip: rect(62px, 9999px, 70px, 0);
  }
  80% {
    clip: rect(24px, 9999px, 153px, 0);
  }
  85% {
    clip: rect(138px, 9999px, 40px, 0);
  }
  90% {
    clip: rect(79px, 9999px, 136px, 0);
  }
  95% {
    clip: rect(25px, 9999px, 34px, 0);
  }
  100% {
    clip: rect(173px, 9999px, 166px, 0);
  }
}
@keyframes noise-after {
  0% {
    clip: rect(26px, 9999px, 33px, 0);
  }
  5% {
    clip: rect(140px, 9999px, 198px, 0);
  }
  10% {
    clip: rect(184px, 9999px, 89px, 0);
  }
  15% {
    clip: rect(121px, 9999px, 6px, 0);
  }
  20% {
    clip: rect(181px, 9999px, 99px, 0);
  }
  25% {
    clip: rect(154px, 9999px, 133px, 0);
  }
  30% {
    clip: rect(134px, 9999px, 169px, 0);
  }
  35% {
    clip: rect(26px, 9999px, 187px, 0);
  }
  40% {
    clip: rect(147px, 9999px, 137px, 0);
  }
  45% {
    clip: rect(31px, 9999px, 52px, 0);
  }
  50% {
    clip: rect(191px, 9999px, 109px, 0);
  }
  55% {
    clip: rect(74px, 9999px, 54px, 0);
  }
  60% {
    clip: rect(145px, 9999px, 75px, 0);
  }
  65% {
    clip: rect(153px, 9999px, 198px, 0);
  }
  70% {
    clip: rect(99px, 9999px, 136px, 0);
  }
  75% {
    clip: rect(118px, 9999px, 192px, 0);
  }
  80% {
    clip: rect(1px, 9999px, 83px, 0);
  }
  85% {
    clip: rect(145px, 9999px, 98px, 0);
  }
  90% {
    clip: rect(121px, 9999px, 154px, 0);
  }
  95% {
    clip: rect(156px, 9999px, 44px, 0);
  }
  100% {
    clip: rect(67px, 9999px, 122px, 0);
  }
}

.loginPage {
  width: 100%;
  height: 100vh;
}
.loginPage #errorMessage {
  color: white;
}
.loginPage .login {
  background-image: url("/images/fond-ecran-noir.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.loginPage .login__connection {
  background-color: #7289da;
  color: #fff;
  border-radius: 3px;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  width: 10%;
  margin-top: 20px;
  right: 5%;
  position: absolute;
}
.loginPage .login__connection:hover {
  background-color: #5f73c2;
}
.loginPage .login__mid {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginPage .login__mid__text {
  width: 60%;
  margin-bottom: -190px;
  margin-top: -200px;
}
.loginPage .login__mid__logo {
  width: 23%;
}
.loginPage .login__mid__social {
  display: flex;
  align-items: center;
}
.loginPage .login__mid__social h1 {
  margin-left: 20px;
  color: white;
}
.loginPage .login__mid__social__discord {
  background-color: #7289da;
  color: #fff;
  border-radius: 3px;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  border-radius: 50%;
}
.loginPage .login__mid__social__discord:hover {
  background-color: #5f73c2;
}

.responsivePage {
  background-image: url("/images/responsive.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.responsivePage h1 {
  color: white;
  text-align: center;
}

.createEventPage {
  background-image: url("/images/battleplan.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.createEventPage .eventRight {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.createEventPage .eventRight__top {
  width: 100%;
  background-color: rgba(40, 54, 56, 0.8);
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Rajdhani", sans-serif;
}
.createEventPage .eventRight__top input {
  height: 30%;
  background-color: transparent;
  border: none;
  border-bottom: 2px #E8B372 solid;
  font-family: "Rajdhani", sans-serif;
  color: #E8B372;
  font-size: 17px;
}
.createEventPage .eventRight__top input::-moz-placeholder {
  color: #E8B372;
  font-size: 17px;
  font-family: "Rajdhani", sans-serif;
}
.createEventPage .eventRight__top input::placeholder {
  color: #E8B372;
  font-size: 17px;
  font-family: "Rajdhani", sans-serif;
}
.createEventPage .eventRight__middle {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.createEventPage .eventRight__middle form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  width: 60%;
}
.createEventPage .eventRight__middle .swiperElement {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.createEventPage .eventRight__middle .swiperElement img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.createEventPage .eventRight__middle .swiperElement h3 {
  margin: 5px;
  color: #E8B372;
}
.createEventPage .eventRight__middle .swiperElement .swiper-3d,
.createEventPage .eventRight__middle .swiperElement .swiper-3d.swiper-css-mode .swiper-wrapper {
  width: 100%;
  border: 1px solid #E8B372;
}
.createEventPage .eventRight__middle .swiperElement .swiper-pagination-bullet {
  background: white;
  opacity: 1 !important;
}
.createEventPage .eventRight__middle .swiperElement .swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: #E8B372 !important;
}
.createEventPage .eventRight__bot {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.createEventPage .eventRight__bot p {
  width: 20%;
  color: #E8B372;
  text-align: center;
}
.createEventPage .eventLeft {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: rgba(40, 54, 56, 0.8);
  justify-content: space-around;
}
.createEventPage .eventLeft fieldset {
  width: 80%;
  color: #E8B372;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  font-family: "Rajdhani", sans-serif;
  font-size: 15px;
}
.createEventPage .eventLeft fieldset input {
  background-color: transparent;
  border: none;
  border-bottom: 2px #E8B372 solid;
  font-family: "Rajdhani", sans-serif;
  color: #E8B372;
  font-size: 17px;
}
.createEventPage .eventLeft fieldset input::-moz-placeholder {
  color: #E8B372;
  font-size: 17px;
  font-family: "Rajdhani", sans-serif;
}
.createEventPage .eventLeft fieldset input::placeholder {
  color: #E8B372;
  font-size: 17px;
  font-family: "Rajdhani", sans-serif;
}

#send {
  width: 20%;
  height: 45%;
  background-color: #E8B372;
  color: rgb(40, 54, 56);
  border-radius: 10px;
  font-family: "Rajdhani", sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

#back {
  width: 20%;
  height: 45%;
  background-color: rgb(40, 54, 56);
  color: #E8B372;
  border-radius: 10px;
  font-family: "Rajdhani", sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

#delete {
  width: 20%;
  height: 45%;
  background-color: rgb(155, 37, 28);
  color: #E8B372;
  border-radius: 10px;
  font-family: "Rajdhani", sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

.ck.ck-editor__main > .ck-editor__editable {
  background: rgba(40, 54, 56, 0.6) !important;
  border-radius: 0;
  font-family: "Rajdhani", sans-serif;
  color: white;
  max-height: 500px;
  min-height: 500px;
}

.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  border-color: #E8B372 !important;
  min-height: 500px;
  max-width: 100%;
}

.ck-reset_all :not(.ck-reset_all-excluded *),
.ck.ck-reset,
.ck.ck-reset_all {
  background: rgba(40, 54, 56, 0.6) !important;
}

.ck-reset_all :not(.ck-reset_all-excluded *),
.ck.ck-reset_all {
  color: #E8B372 !important;
}

.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
.ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
  border: 1px solid #E8B372 !important;
  border-bottom: none !important;
}

.ck.ck-editor {
  max-width: 70%;
  min-width: 70%;
}

.eventPageBackground {
  width: 100%;
  height: 100vh;
  background-image: url("/images/event.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.eventPageBackground .eventPage {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.eventPageBackground .eventPage .eventSwiper {
  width: 90%;
  height: 80%;
}
.eventPageBackground .eventPage .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 40%;
  height: 80%;
}
.eventPageBackground .eventPage .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.95;
}
.eventPageBackground .eventPage .swiper-button-next, .eventPageBackground .eventPage .swiper-rtl .swiper-button-prev {
  right: 20%;
  left: auto;
}
.eventPageBackground .eventPage .swiper-button-prev, .eventPageBackground .eventPage .swiper-rtl .swiper-button-next {
  left: 20%;
  right: auto;
}
.eventPageBackground .eventPage .swiper-button-next, .eventPageBackground .eventPage .swiper-button-prev {
  top: 40% !important;
}
.eventPageBackground .eventPage .swiper-button-next:after, .eventPageBackground .eventPage .swiper-button-prev:after {
  font-size: 80px !important;
}
.eventPageBackground .eventPage .swiper-pagination-bullet {
  background: black;
  opacity: 1 !important;
}
.eventPageBackground .eventPage .swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: white !important;
}
.eventPageBackground .eventPage .eventSwipperCard__info {
  color: #F9DBB6;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-size: 18px;
  z-index: 2;
}
.eventPageBackground .eventPage .eventSwipperCard__info svg {
  width: 15%;
  height: 15%;
  position: absolute;
  top: 2%;
  right: 2%;
  fill: #F9DBB6;
}
.eventPageBackground .eventPage .eventSwipperCard__info h1 {
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: "goodTime", sans-serif;
  font-size: 25px;
}
.eventPageBackground .eventPage .eventSwipperCard__info button {
  width: 40%;
  height: 7%;
  background: rgba(249, 219, 182, 0.9);
  color: black;
  font-family: "Rajdhani", sans-serif;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
}
.eventPageBackground .eventPage .eventSwipperCard__botInfo {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  height: 5%;
}

.displayEvent {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100%;
  width: 100%;
  /* on génère un second élément en :before pour la flèche */
  /* pas de contour durant le :focus */
}
.displayEvent__title {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.displayEvent__title .adminButton {
  position: absolute;
  left: 3%;
  display: flex;
  width: 20%;
  justify-content: space-evenly;
}
.displayEvent__title Button {
  width: 40%;
  height: 3%;
  border-radius: 10px;
  font-family: "Rajdhani", sans-serif;
  font-size: 15px;
}
.displayEvent__title h1 {
  margin: 0 10%;
}
.displayEvent__title svg {
  height: 60px;
}
.displayEvent__title #roleSvg {
  height: 60px;
  fill: white;
  position: absolute;
  right: 2%;
}
.displayEvent__info {
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
}
.displayEvent__info #eventDescription {
  width: 30%;
  background-color: rgba(26, 42, 51, 0.8);
  max-height: 90%;
  padding: 30px;
  overflow: auto;
}
.displayEvent__info #eventDescription::-webkit-scrollbar {
  width: 5px;
  background-color: #474747;
}
.displayEvent__info #eventDescription::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
}
.displayEvent__info #eventInfo {
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
.displayEvent__info #eventInfo h3 {
  height: 60%;
  width: 60%;
  text-align: center;
}
.displayEvent__info #eventInfo img {
  height: 60%;
  -o-object-fit: contain;
     object-fit: contain;
  border-bottom: 1px solid white;
}
.displayEvent__info__middle {
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}
.displayEvent img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.displayEvent .test {
  position: relative;
  /*les .picto-item deviennent référents*/
  cursor: help;
}
.displayEvent .test:hover:after,
.displayEvent .test:focus:after {
  content: attr(aria-label);
  /* on affiche aria-label */
  position: absolute;
  top: -2.4em;
  left: 50%;
  transform: translateX(-50%);
  /* on centre horizontalement  */
  z-index: 1;
  /* pour s'afficher au dessus des éléments en position relative */
  white-space: nowrap;
  /* on interdit le retour à la ligne*/
  padding: 5px 14px;
  background: #413219;
  color: #fff;
  border-radius: 4px;
  font-size: 1.2rem;
}
.displayEvent [aria-label]:hover:before,
.displayEvent [aria-label]:focus:before {
  content: "▼";
  position: absolute;
  top: -1em;
  left: 50%;
  transform: translateX(-50%);
  /* on centre horizontalement  */
  font-size: 20px;
  color: #413219;
}
.displayEvent [aria-label]:focus {
  outline: none;
}

.adminImagePage {
  background-image: url("/images/fond-ecran-noir.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 100%;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 20%;
}
.navbar__top {
  background-image: url("/images/fond-ecran-noir.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.navbar__top__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}
.navbar__top__top a {
  display: flex;
  text-decoration: none;
  align-items: center;
}
.navbar__top__top a svg {
  color: white;
}
.navbar__top__top a img {
  height: 70px;
}
.navbar__top__top__logo {
  display: flex;
  align-items: center;
}
.navbar__top__top__logo__ecusson {
  height: 100px;
}
.navbar__top__top__logo__texte {
  height: 400px;
  margin-top: -150px;
  margin-bottom: -150px;
}
.navbar__menu {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
}
.navbar__button {
  color: white;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  border: none;
  font-size: 20px;
  font-family: "Rajdhani", sans-serif;
}
.navbar__button:hover {
  scale: 1.1;
  transition: 0.1s ease-in-out;
}
.navbar__button:active {
  scale: 1;
  transition: 0.1s ease-in-out;
}

.adminNavbar {
  background-image: url("/images/adminNavbar.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100%;
  height: 20%;
}
.adminNavbar__block {
  height: 100%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
.adminNavbar__block__leave {
  width: 20%;
}
.adminNavbar__block__leave a {
  display: flex;
  text-decoration: none;
  align-items: center;
}
.adminNavbar__block__leave a svg {
  color: white;
}
.adminNavbar__block__leave__button {
  color: white;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  border: none;
  font-size: 20px;
  font-family: "Rajdhani", sans-serif;
}
.adminNavbar__block__leave__button:hover {
  scale: 1.1;
  transition: 0.1s ease-in-out;
}
.adminNavbar__block__leave__button:active {
  scale: 1;
  transition: 0.1s ease-in-out;
}
.adminNavbar__block__menu {
  width: 20%;
  display: flex;
  justify-content: space-around;
}
.adminNavbar__block__menu button {
  background: transparent;
  border: none;
  color: #e4c3a5;
  height: 100px;
  width: 100px;
  cursor: pointer;
}
.adminNavbar__block__menu button:hover {
  scale: 1.1;
  transition: 0.1s ease-in-out;
}
.adminNavbar__block__menu button:active {
  scale: 1;
  transition: 0.1s ease-in-out;
}
.adminNavbar__block__menu button svg {
  width: 100%;
  height: 100%;
}

.adminWacko {
  width: 100%;
  margin: auto;
  height: 75%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-top: 35px solid rgba(0, 0, 0, 0.6);
}
.adminWacko__bottom {
  display: flex;
  height: 80%;
  width: 100%;
}
.adminWacko__bottom__left {
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.adminWacko__bottom__left__search {
  height: 25px;
  width: 50%;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
}
.adminWacko__bottom__left__search:focus {
  outline: none;
}
.adminWacko__bottom__left__search::-moz-placeholder {
  font-family: "Rajdhani", sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
}
.adminWacko__bottom__left__search::placeholder {
  font-family: "Rajdhani", sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
}
.adminWacko__bottom__left__list {
  width: 60%;
  height: 60%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  color: white;
  text-align: center;
}
.adminWacko__bottom__left__list span {
  cursor: pointer;
}
.adminWacko__bottom__left__list::-webkit-scrollbar {
  width: 5px;
  background-color: #474747;
}
.adminWacko__bottom__left__list::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
}
.adminWacko__bottom__middle {
  width: 40%;
  height: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
.adminWacko__bottom__middle__wacko {
  width: 100%;
  height: 80%;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: space-evenly;
  display: flex;
}
.adminWacko__bottom__middle__wacko h1 {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0px;
}
.adminWacko__bottom__middle__wacko__bottom {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.adminWacko__bottom__middle__wacko__bottom__checkbox {
  color: white;
}
.adminWacko__bottom__middle__wacko__button {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.adminWacko__bottom__middle__wacko__button button {
  width: 180px;
  height: 40px;
  color: black;
  background-color: #e4c3a5;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Rajdhani", sans-serif;
}
.adminWacko__bottom__middle__wacko__button button:hover {
  scale: 1.1;
  transition: 0.1s ease-in-out;
}
.adminWacko__bottom__middle__wacko__button button:active {
  scale: 1;
  transition: 0.1s ease-in-out;
}
.adminWacko__bottom__middle__wacko__button .button1 {
  background-color: #d61a02;
}
.adminWacko__bottom__middle__wacko p {
  height: 20px;
  margin: 0px;
}
.adminWacko__bottom__right {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 90%;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
.adminWacko__bottom__right__list {
  width: 60%;
  height: 60%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  color: white;
  text-align: center;
}
.adminWacko__bottom__right__list::-webkit-scrollbar {
  width: 5px;
  background-color: #474747;
}
.adminWacko__bottom__right__list::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
}

.adminWebsite {
  display: flex;
  align-items: center;
  height: 75%;
  width: 100%;
  color: white;
  justify-content: space-around;
  border-top: 35px solid rgba(0, 0, 0, 0.6);
}
.adminWebsite #deleteLinkButton,
.adminWebsite #deleteShipsButton {
  display: flex;
  width: 180px;
  height: 40px;
  color: black;
  background-color: red;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Rajdhani", sans-serif;
  justify-content: center;
  align-items: center;
}
.adminWebsite #deleteLinkButton:hover,
.adminWebsite #deleteShipsButton:hover {
  scale: 1.1;
  transition: 0.1s ease-in-out;
}
.adminWebsite #deleteLinkButton:active,
.adminWebsite #deleteShipsButton:active {
  scale: 1;
  transition: 0.1s ease-in-out;
}
.adminWebsite #formModifyShip {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.adminWebsite__card {
  height: 80%;
  width: 30%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 1, 0.3882352941);
  flex-direction: column;
  align-items: center;
}
.adminWebsite__card h1 {
  height: 10%;
  margin: 0;
  display: flex;
  align-items: center;
}
.adminWebsite__card__block {
  width: 100%;
  height: 90%;
  display: flex;
}
.adminWebsite__card__block__displayLink {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}
.adminWebsite__card__block__displayLink__list {
  overflow: auto;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adminWebsite__card__block__displayLink__list::-webkit-scrollbar {
  width: 5px;
  background-color: #474747;
}
.adminWebsite__card__block__displayLink__list::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
}
.adminWebsite__card__block__displayLink__list span {
  color: white;
  cursor: pointer;
}
.adminWebsite__card__block__displayLink button {
  display: flex;
  width: 180px;
  height: 40px;
  color: black;
  background-color: #e4c3a5;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Rajdhani", sans-serif;
  justify-content: center;
  align-items: center;
}
.adminWebsite__card__block__displayLink button:hover {
  scale: 1.1;
  transition: 0.1s ease-in-out;
}
.adminWebsite__card__block__displayLink button:active {
  scale: 1;
  transition: 0.1s ease-in-out;
}
.adminWebsite__card__block__addLink {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}
.adminWebsite__card__block__addLink__bottom {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.adminWebsite__card__block__addLink__bottom__input {
  height: 25px;
  width: 70%;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
}
.adminWebsite__card__block__addLink__bottom button {
  width: 180px;
  height: 40px;
  color: black;
  background-color: #e4c3a5;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Rajdhani", sans-serif;
}
.adminWebsite__card__block__addLink__bottom button:hover {
  scale: 1.1;
  transition: 0.1s ease-in-out;
}
.adminWebsite__card__block__addLink__bottom button:active {
  scale: 1;
  transition: 0.1s ease-in-out;
}

.adminImage {
  width: 100%;
  margin: auto;
  height: 75%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-top: 35px solid rgba(0, 0, 0, 0.6);
  color: white;
  align-items: center;
}
.adminImage .file:hover {
  scale: 1.05;
}
.adminImage__top {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-around;
}
.adminImage__top input {
  display: none;
}
.adminImage__top label {
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.adminImage__top label svg {
  height: 100%;
}
.adminImage__top h1 {
  text-align: center;
}
.adminImage .displayAllImage {
  height: 100%;
  width: 80%;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  grid-gap: 30px;
}
.adminImage .displayAllImage::-webkit-scrollbar {
  width: 5px;
  background-color: #474747;
}
.adminImage .displayAllImage::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
}
.adminImage .displayAllImage__display {
  height: 200px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adminImage .displayAllImage button {
  height: 30px;
  position: absolute;
  background: transparent;
  border: none;
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 2;
}
.adminImage .displayAllImage button svg {
  height: 100px;
  color: red;
  display: none;
  pointer-events: none;
}
.adminImage .displayAllImage img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: blur(0);
}
.adminImage .displayAllImage button:hover + img {
  filter: blur(3px);
}

.membre {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: white;
}
.membre__top {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  border-bottom: 2px solid black;
}
.membre__top__count {
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.membre__top__count:hover {
  scale: 1.1;
  transition: 0.1s ease-in-out;
}
.membre__top__count:active {
  scale: 1;
  transition: 0.1s ease-in-out;
}
.membre__top__count p {
  margin: 0;
}
.membre__bottom {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 95%;
}
.membre__bottom__left {
  background-color: rgba(0, 0, 0, 0.6);
  width: 25%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 3px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 1, 0.3882352941);
}
.membre__bottom__left h1 {
  margin: 0px;
}
.membre__bottom__left__search {
  display: flex;
  width: 80%;
  height: 20px;
  justify-content: space-around;
  align-items: center;
}
.membre__bottom__left__search input {
  height: 100%;
  width: 80%;
}
.membre__bottom__left__search input::-moz-placeholder {
  font-family: "Rajdhani", sans-serif;
}
.membre__bottom__left__search input::placeholder {
  font-family: "Rajdhani", sans-serif;
}
.membre__bottom__left__search svg {
  height: 100%;
}
.membre__bottom__left__list {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 70%;
  overflow: auto;
  cursor: pointer;
}
.membre__bottom__left__list::-webkit-scrollbar {
  width: 5px;
  background-color: #474747;
}
.membre__bottom__left__list::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
}
.membre__bottom__right {
  width: 70%;
  height: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.membre__bottom__right__homepage {
  color: black;
  height: 40%;
  width: 60%;
}
.membre__bottom__right__homepage__text {
  height: 100%;
  width: 100%;
}
.membre__bottom__right__oneMember {
  display: none;
  color: black;
  height: 40%;
  width: 60%;
  flex-direction: column;
}
.membre__bottom__right__oneMember__top {
  display: flex;
  align-items: center;
  height: 30%;
}
.membre__bottom__right__oneMember__top img {
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}
.membre__bottom__right__oneMember__bottom {
  height: 70%;
}
.membre__bottom__right__oneMember__bottom p {
  margin: 0;
}
.membre__bottom__right__oneMember__bottom h2 {
  margin: 0;
}
.membre__bottom__right__oneMember__bottom__swipper {
  display: flex;
}
.membre__bottom__right__oneMember__bottom__swipper img {
  position: relative;
}
.membre__bottom__right__oneMember__bottom__swipper span {
  position: absolute;
  width: 80%;
  color: white;
  display: flex;
  justify-content: flex-start;
  height: 100%;
  align-items: flex-end;
}
.membre__bottom__right__oneMember__bottom__swipper span h2 {
  margin: 0;
}

.profil {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding-left: 4%;
  padding-right: 4%;
  color: white;
  height: 80%;
  align-items: flex-start;
}
.profil__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 90%;
}
.profil__left h1 {
  margin: 5px;
  height: 10%;
}
.profil__left__search {
  display: flex;
  width: 100%;
  height: 10%;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
  flex-direction: column;
}
.profil__left__search input {
  height: 100%;
  width: 30%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-family: "Rajdhani", sans-serif;
}
.profil__left__search input:focus {
  outline: none;
}
.profil__left__search input::-moz-placeholder {
  font-family: "Rajdhani", sans-serif;
  text-align: center;
  color: white;
}
.profil__left__search input::placeholder {
  font-family: "Rajdhani", sans-serif;
  text-align: center;
  color: white;
}
.profil__left__search button {
  height: 100%;
  font-family: "Rajdhani", sans-serif;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 20px;
  width: 20%;
  margin-top: 10px;
}
.profil__left__search button:hover {
  scale: 1.1;
  transition: 0.1s ease-in-out;
}
.profil__left__search button:active {
  scale: 1;
  transition: 0.1s ease-in-out;
}
.profil__left__list {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  direction: rtl;
}
.profil__left__list::-webkit-scrollbar {
  width: 5px;
  background-color: #474747;
}
.profil__left__list::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
}
.profil__left__list__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 20%;
  position: relative;
  margin-bottom: 20px;
  justify-content: center;
}
.profil__left__list__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  z-index: 1;
}
.profil__left__list__card span {
  z-index: 2;
  position: absolute;
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.profil__left__list__card span button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.profil__left__list__card span button svg {
  color: #a5a5a5;
  height: 30px;
  pointer-events: none;
}
.profil__left p {
  height: 3%;
  margin: 0px;
}
.profil__right {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  height: 50%;
  justify-content: space-around;
}
.profil__right h1 {
  font-size: 29px;
}
.profil__right img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.profil__right__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profil__right a {
  font-family: "Rajdhani", sans-serif;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 20px;
  width: 70%;
  margin-top: 20px;
  height: 30px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profil__right a:hover {
  scale: 1.1;
  transition: 0.1s ease-in-out;
}
.profil__right a:active {
  scale: 1;
  transition: 0.1s ease-in-out;
}

.section {
  color: black;
}
.section form {
  background-image: url("/images/adra.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.section table {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.606);
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
}
.section .submit {
  width: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.section span {
  width: 100%;
}
.section tr {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.section tr td {
  width: 30%;
}

.hangar {
  width: 100%;
  height: 80%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: white;
}
.hangar__block {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.hangar__left {
  background-color: rgba(0, 0, 0, 0.6);
  width: 25%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 3px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 1, 0.3882352941);
}
.hangar__left h1 {
  margin: 0px;
}
.hangar__left__search {
  display: flex;
  width: 80%;
  height: 20px;
  justify-content: space-around;
  align-items: center;
}
.hangar__left__search input {
  height: 100%;
  width: 80%;
}
.hangar__left__search input::-moz-placeholder {
  font-family: "Rajdhani", sans-serif;
}
.hangar__left__search input::placeholder {
  font-family: "Rajdhani", sans-serif;
}
.hangar__left__search svg {
  height: 100%;
}
.hangar__left__list {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 70%;
  overflow: auto;
  cursor: pointer;
}
.hangar__left__list::-webkit-scrollbar {
  width: 5px;
  background-color: #474747;
}
.hangar__left__list::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
}
.hangar__right {
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  justify-content: space-between;
}
.hangar__right__top {
  margin-left: 3%;
}
.hangar__right__top h1 {
  margin: 0;
}
.hangar__right__top h2 {
  margin: 0;
}
.hangar__right__top__link {
  text-decoration: underline;
  color: white;
  font-size: 40px;
}
.hangar__right__middle {
  display: flex;
  width: 90%;
  height: 60%;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.hangar__right__middle img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 1, 0.3882352941);
}
.hangar__right__bottom {
  margin-left: 3%;
  height: 25%;
}
.hangar__right__bottom h2 {
  margin: 0;
  height: 20%;
}
.hangar__right__bottom__list {
  display: flex;
  flex-direction: column;
  height: 80%;
  overflow: auto;
  flex-wrap: wrap;
  width: 100%;
}

.lienUtile {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  margin: auto;
  align-items: center;
}
.lienUtile__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.lienUtile__top__search {
  display: flex;
  width: 90%;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.lienUtile__top__search span {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lienUtile__top__search span input {
  height: 25px;
  width: 50%;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  color: black;
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
}
.lienUtile__top__search span input:focus {
  outline: none;
}
.lienUtile__top__search span input::-moz-placeholder {
  font-family: "Rajdhani", sans-serif;
  color: black;
  font-size: 20px;
  text-align: center;
}
.lienUtile__top__search span input::placeholder {
  font-family: "Rajdhani", sans-serif;
  color: black;
  font-size: 20px;
  text-align: center;
}
.lienUtile__top__filter {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  color: black;
  border-bottom: 2px solid black;
}
.lienUtile__top__filter button {
  width: 10%;
  background-color: transparent;
  color: black;
  font-family: "Rajdhani", sans-serif;
  cursor: pointer;
  font-size: 20px;
  border: none;
}
.lienUtile__top__filter button:hover {
  scale: 1.1;
  transition: 0.1s ease-in-out;
}
.lienUtile__top__filter button:active {
  scale: 1;
  transition: 0.1s ease-in-out;
}
.lienUtile__bottom {
  width: 90%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: flex-start;
  overflow: auto;
  padding: 20px;
}
.lienUtile__bottom::-webkit-scrollbar {
  width: 5px;
  background-color: #474747;
}
.lienUtile__bottom::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
}
.lienUtile__bottom__button {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid black;
  color: white;
  width: 30%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
  font-family: "Rajdhani", sans-serif;
  font-size: large;
  border-radius: 3px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 1, 0.3882352941);
}

.loading {
  height: 100%;
  width: 100%;
}

.memberSwiper {
  width: 75%;
  height: 65%;
  margin: 0 !important;
  border-radius: 20px;
}

.membre__bottom__right__oneMember__bottom__swipper {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.membre__bottom__right__oneMember__bottom__swipper img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.swiper-pagination {
  color: white !important;
}

.react-confirm-alert-overlay {
  background: transparent !important;
}

.react-confirm-alert-body {
  background-image: url("/images/fond-ecran-noir.jpg") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: white !important;
}/*# sourceMappingURL=main.css.map */