.react-confirm-alert-overlay {
    background:transparent !important;
}

.react-confirm-alert-body {
    background-image: url("/images/fond-ecran-noir.jpg") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: white !important;
}