.adminWebsite {
    display: flex;
    align-items: center;
    height: 75%;
    width: 100%;
    color: $secondary;
    justify-content: space-around;
    border-top: 35px solid $primaryOpacity;

    #deleteLinkButton,
    #deleteShipsButton {
        display: flex;
        width: 180px;
        height: 40px;
        color: $primary;
        background-color: red;
        font-size: 20px;
        border-radius: 10px;
        font-family: 'Rajdhani', sans-serif;
        justify-content: center;
        align-items: center;


        &:hover {
            scale: 1.1;
            transition: 0.1s ease-in-out;
        }

        &:active {
            scale: 1;
            transition: 0.1s ease-in-out;

        }

    }

    #formModifyShip {
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    &__card {
        height: 80%;
        width: 30%;
        display: flex;
        background-color: $primaryOpacity;
        border-radius: 3px;
        box-shadow: $shadow;
        flex-direction: column;
        align-items: center;

        h1 {
            height: 10%;
            margin: 0;
            display: flex;
            align-items: center;
        }

        &__block {
            width: 100%;
            height: 90%;
            display: flex;

            &__displayLink {
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 50%;
                align-items: center;
                justify-content: space-evenly;

                &__list {
                    overflow: auto;
                    height: 80%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;


                    &::-webkit-scrollbar {
                        width: 5px;
                        background-color: #474747;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #a5a5a5;
                    }

                    span {
                        color: white;
                        cursor: pointer;

                    }
                }

                button {
                    display: flex;
                    width: 180px;
                    height: 40px;
                    color: $primary;
                    background-color: #e4c3a5;
                    font-size: 20px;
                    border-radius: 10px;
                    font-family: 'Rajdhani', sans-serif;
                    justify-content: center;
                    align-items: center;


                    &:hover {
                        scale: 1.1;
                        transition: 0.1s ease-in-out;
                    }

                    &:active {
                        scale: 1;
                        transition: 0.1s ease-in-out;

                    }
                }
            }

            &__addLink {
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 50%;
                align-items: center;
                justify-content: space-evenly;

                &__bottom {
                    height: 80%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;

                    &__input {
                        height: 25px;
                        width: 70%;
                        border: none;
                        border-bottom: 2px solid $secondary;
                        background-color: transparent;
                        color: $secondary;
                        font-family: 'Rajdhani', sans-serif;
                        font-size: 20px;
                    }

                    button {
                        width: 180px;
                        height: 40px;
                        color: $primary;
                        background-color: #e4c3a5;
                        font-size: 20px;
                        border-radius: 10px;
                        font-family: 'Rajdhani', sans-serif;

                        &:hover {
                            scale: 1.1;
                            transition: 0.1s ease-in-out;
                        }

                        &:active {
                            scale: 1;
                            transition: 0.1s ease-in-out;

                        }
                    }
                }

            }

        }


    }
}